# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.mouse
.ipynb_checkpoints

# Project Specific outputs & cache
output/
downloads/
*.mp3
*.wav
*.mp4
*.srt
*.webp

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
